---
layout: default
---

<div class="home">

    <div class="posts">
        <div class="post py3">
            <h2 class="h1 post-title">Mike P Land<br>Independent iOS Developer</h2>
            <p class="post-summary">
            <div class="page-content">
                <p>Don’t let that great idea go to waste.</p>

                <p>An MVP, or a Minimum Viable Product, is a great way to test your idea in the market place at an affordable price.</p>
                <p>I’m a Chicago-based independent iOS developer, who specializes in MVPs. I work with people to boil their idea down to something that can be tested amongst a group of beta testers.</p> 
                <p>Whether you plan to ultimately secure financing or to self-finance, an MVP is a great opportunity to prove that your idea is viable. An early Beta testing round is an opportunity to collect qualitative and quantitative data on your idea.</p> 
                <p>Free Consultation, available to meet locally in Chicago.</p> 
                <p><a href="/contact" class="post-link">Contact</a></p>
                <br>
                {% include portfolio.html %}
            </div>
            </p>
        </div>
    </div>
    <hr>
    <div class="posts">
        {% for post in paginator.posts %}
        <div class="post py3">
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
            <p class="post-summary">
            {% if post.summary %}
            {{ post.summary }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>

    {% include pagination.html %}
</div>
