---
layout: default
---

<div class="home">

  <div class="posts">
      <div class="post py3">
          <h2 class="h1 post-title">Mike P Land<br>Independent Software Developer</h2>
        <p class="post-summary">
            Web & Mobile | JavaScript & Swift
            <div class="page-content">
                iOS Apps
                <ul class="page-list">
                    <li>
                        <a href="http://learncrapsyo.com" class="post-link" target="_blank">Learn Craps Yo</a> - The best way to learn craps.
                    </li>
                    <li>
                        Blackjack Book - (Coming Soon)
                    </li>
                </ul>
                NodeJS App
                <ul class="page-list">
                    <li>
                        <a href="http://hnvimmybot.com" class="post-link" target="_blank">HN Vimmy Bot</a> - He's a friendly bot who checks <a href="https://news.ycombinator.com/" class="post-link" target="_blank">Hacker News</a> every hour for stories on <a href="https://en.wikipedia.org/wiki/Vim_(text_editor)" class="post-link" target="_blank">Vim</a>, and tweets 'em. Checkout the <a href="https://github.com/lando2319/hn_vimmy_bot" class="post-link" target="_blank">Github Repo</a>.
                    </li>
                </ul>
                Are you looking for a developer? <a href="/contact" class="post-link">let's talk</a>
            </div>
        </p>
      </div>
  </div>
  <hr>
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
