<h3>Some Apps I've made:</h3> 
<ul>
    <li><a href="https://www.gochanged.com/">ChangEd</a> Collect change, pay down #studentdebt. An app that super powers your spare change to help pay down your #studentloans!</li>
    <li><a href="http://craps.education">Learn Craps</a> Handmade Artisan Craps App for iOS</li>
    <li><a href="https://infinityracer.com">Infinity ∞ Racer</a>Retro Elegant Gaming At Its Finest</li>
    <li><a href="https://twitter.com/WeatherWindowAI">Weather Window</a> A.I. Generated Photo Of Current Weather In A Random City - “Cloudy weather in Luanda Angola”</li>
    <li><a href="http://mikepland.com/hn-vimmy-bot/">HN Vimmy Bot</a> a friendly bot who checks Hacker News every hour and tweets out stories about VIM</li>
    <li><a href="http://mikepland.com/hn-kotlin-bot/">HN Kotlin Bot</a> a friendly bot who checks Hacker News every hour and tweets out stories about Kotlin</li>
    <li><a href="http://mikepland.com/blackjack-book/">Blackjack Book</a> basic strategy of Blackjack delivered right to your wrist</li>
</ul>
