<p>Web Dev since 2009</p>
<p>Ruby on Rails Web Development Bootcamp at The Starter League in 2012</p>
<p>iOS Bootcamp at Mobile Makers in 2014</p>
<p>CTO at ChangEd since 2017</p>
<p>Expert on MVP development, Lean Startup Principles</p>
<a href="{{ site.baseurl }}/bio/">Read Full Bio</a>
<br>
<br>
<br>

<p>Sometimes Mike Land tweets...</p>
<p>consider following him</p>
<br>
<a href="https://twitter.com/mikepland" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @mikepland</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
