<p>Expert on MVP development, Lean Startup Principles</p>
<p>Web Dev since 2009</p>
<p>Ruby on Rails Web Development Bootcamp at The Starter League in 2012</p>
<p>iOS Bootcamp at Mobile Makers in 2014</p>
<p>CTO at ChangEd since 2017</p>
<a href="{{ site.baseurl }}/bio/">Read Full Bio</a>
<br>
<br>
<br>

<p>Learn Craps for iOS</p>
<!-- <a href="https://twitter.com/mikepland" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @mikepland</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<a href="https://apps.apple.com/us/app/learn-craps/id1587441952?uo=4" target="_blank">
    <img
      src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=165x40"
      alt="Download on the App Store"
      style="display:inline-block; border:0;"
    />
  </a>
